body{font-family: 'Righteous', cursive;
margin: 0%;}
.one{color: royalblue;}
.anchor-button{text-decoration: none;
    background-color: royalblue;
    padding: 10px 40px;
border-radius: 4px;
background-image: linear-gradient(cyan, royalblue);
color: black;
font-weight: 400;}
.inline{display: flex;}
    .alpha{width: 40%;
    padding-left: 5%;}
    .bravo{width: 60%;}
    .charlie{width: 70%;
        padding-left: 10%;}
    .delta{width: 40%;}
    .bgimg{background-image: url(photo/Frame\ 57.jpg);
    background-repeat: no-repeat;}